<p id="notice"><%= notice %></p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Employee</th>
      <th scope="col">Absence</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= Employee.find(@report.employee_id).name %></th>
      <td><%= @result %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', reports_path %>
